.bg-red {
    background: red;
}

.mx-auto {
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.px-75 {
    padding: 100px;
}